.DS_Store
node_modules
public
.obsidian
.quartz-cache

content/**
!content/
!content/index.md
!content/notes/
!content/notes/algo/
!content/notes/algo/**
!content/9w/
!content/9w/**
!content/10w/
!content/10w/**
!content/robotics/
!content/robotics/**
!content/11a/
!content/11a/history/
!content/11a/modern/
!content/11a/history/*
!content/11a/modern/*
!content/11b/
!content/11b/calc/
!content/11b/history/
!content/11b/macro/
!content/11b/modern/
!content/11b/calc/**
!content/11b/history/*
!content/11b/macro/*
!content/11b/modern/*
