@use "./base.scss";

@font-face {
  font-family: 'Libre Caslon Condensed';
  src: url('/static/LibreCaslonCondensed.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none !important;
}

img {
  display: block;
}

blockquote {
  p:last-of-type {
    margin-bottom: 0;
  }
}

code {
  > span {
    padding: 3px 10px !important;

    &::before {
      display: none !important;
    }
  }
}

:not(pre) > code {
  background: var(--bg5);
}

:not(strong) {
  font-weight: normal !important;
}

a.internal.tag-link {
  background: var(--bg4);
}

button.toc-header,
button.mobile-explorer,
button.desktop-explorer {
  background: transparent !important;
}

input[type="checkbox"] {
  border-style: solid !important;

  &:checked::after {
    border-color: var(--fg3) !important;
  }
}

.clipboard-button {
  display: none;
}

img,
pre,
.graph > .graph-outer,
.graph > .global-graph-outer > .global-graph-container {
  border-radius: 3px;
}

.explorer-content {
  background: var(--bg);

  * {
    font-family: var(--bodyFont) !important;
  }

  .folder-button {
    padding: 1px 0;
    margin: 0;
    background: transparent !important;
    color: var(--link);
  }

  .folder-outer > ul {
    border-left: none;
  }

  ul li > a {
    color: var(--fg1);
  }
}

ul.toc-content.overflow > li > a {
  color: var(--fg1);
}

.folder-icon {
  color: var(--link);
}

.graph > .graph-outer, .global-graph-outer .global-graph-container {
  border: 1px solid var(--fg3) !important;
}

.global-graph-outer .global-graph-container {
  background: var(--bg2);
}

.article-title {
  margin-bottom: 16px;
}

.page li:has(> input[type="checkbox"]:checked) {
  text-decoration: line-through;
  color: var(--fg2);
}

.page-title {
  display: flex;
  align-items: center;

  .logo {
    display: inline;

    min-width: 50px;
    min-height: 50px;

    margin: -7px 2px -5px -5px;

    background-image: url(/static/cards.png);
    background-size: 200px;
    image-rendering: pixelated;

    animation: logo-open 0.125s forwards steps(3);

    @media (prefers-color-scheme: dark) {
      background-image: url(/static/cards-dark.png);
    }

    &:hover {
      animation: logo-close 0.125s forwards steps(3);
    }
  }
}

@keyframes logo-close {
  from { background-position-x: 0; }
  to { background-position-x: -150px; }
}

@keyframes logo-open {
  from { background-position-x: -150px; }
  to { background-position-x: 0; }
}

.center {
  margin-bottom: 4rem;

  .graph h3, .global-graph-icon {
    display: none;
  }

  .graph-outer, .graph-container {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  .right.sidebar .recent-notes {
    margin-top: calc(42.2px + 1.2rem);

    h3 {
      margin-top: 0;
    }
  }
}

@media (max-width: 800px) {
  .explorer .mobile-explorer .lucide-menu {
    stroke: var(--fg);
  }

  .left.sidebar {
    background: var(--bg);
  }
}
